<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish/>
        <ExcludeApp_Data>false</ExcludeApp_Data>
        <ProjectGuid>3a5a9e24-7884-4046-a4af-ea204071f4b4</ProjectGuid>
        <SelfContained>false</SelfContained>
        <MSDeployServiceURL>172.28.1.47</MSDeployServiceURL>
        <DeployIisAppPath>portal</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>true</EnableMSDeployBackup>
        <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
        <UserName>Administrator</UserName>
        <_SavePWD>true</_SavePWD>
        <_TargetId>IISWebDeploy</_TargetId>
    </PropertyGroup>
</Project>